.skill-section {
    background: linear-gradient(to bottom right, #ffffff, rgba(126, 105, 171, 0.2));
}


.card-content {
    padding: clamp(1.125rem, 1.005rem + 0.6vw, 1.5rem);
    border: 1px solid transparent; 
    border-radius: 12px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.card-content::before,
.card-content::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    box-sizing: border-box;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.card-content::before {
    top: 0;
    left: 0;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
}

.card-content::after {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
}

.card-content:hover {
    border-color: transparent;
}

.card-content:hover::before,
.card-content:hover::after {
    width: 100%;
    height: 100%;
    border-color: var(--border);
}


.skill-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.skill-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.skill-name {
    font-weight: 500;
    color: #4a5568;
}

.skill-percentage {
    font-size: 14px;
    color: #a0aec0;
}

.skill-bar-bg {
    width: 100%;
    background-color: #e2e8f0;
    border-radius: 999px;
    height: 10px;
    overflow: hidden;
}

.skill-bar-fill {
    height: 10px;
    border-radius: 999px;
    background: linear-gradient(to right, #6b46c1, #553c9a);
}

/* Specific skill widths */
.w-90 {
    width: 90%;
}

.w-85 {
    width: 85%;
}

.w-80 {
    width: 80%;
}

.w-75 {
    width: 75%;
}

.w-70 {
    width: 70%;
}

.skill-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}