.gradient-text {
  background-image: linear-gradient(90deg,#ddb8f5,#ba44c1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.text-portfolio-purple-dark {
  color: rgb(126 105 171);
}
